In [130]:
import pandas as pd
import numpy as np

## Common Russian Data

In [149]:
brent = pd.read_csv('Данные/Brent.csv')
brent = brent[brent['Date'] >= '2014-01-15']
brent.rename(columns={'Price': 'Brent'}, inplace=True)
brent['Date'] = pd.date_range(start='2014-01-01', end='2025-01-01', freq='M')
brent.head()

          Date   Brent
320 2014-01-31  108.12
321 2014-02-28  108.90
322 2014-03-31  107.48
323 2014-04-30  107.76
324 2014-05-31  109.54

In [133]:
gosdolg = pd.read_excel('Данные/gosdolg.xls')
gosdolg['Date'] = pd.date_range(start='2014-01-01', end='2025-01-01', freq='M')
gosdolg.head()

        Date  gov_debt
0 2014-01-31  5722.239
1 2014-02-28  5733.566
2 2014-03-31  5754.951
3 2014-04-30  5707.239
4 2014-05-31  5714.967

In [134]:
infl_exp = pd.read_excel('Данные/Infl_expectation.xlsx')
infl_exp.columns = ['Date', 'Infl_exp']
infl_exp['Date'] = pd.date_range(
    start='2014-01-01', end='2025-02-01', freq='M')
infl_exp.head()

        Date   Infl_exp
0 2014-01-31  13.037736
1 2014-02-28  11.795154
2 2014-03-31  11.522133
3 2014-04-30  12.672745
4 2014-05-31  11.720957

In [135]:
m2 = pd.read_excel('Данные/M2.xlsx')
m2.columns = ['Date', 'M2']
m2 = m2[m2['Date'] >= '2014-01-01']
m2['Date'] = pd.date_range(start='2014-01-01', end='2025-03-01', freq='M')
m2.head()

         Date       M2
36 2014-01-31  31155.6
37 2014-02-28  29861.2
38 2014-03-31  30169.0
39 2014-04-30  29519.3
40 2014-05-31  29879.0

In [136]:
miacr = pd.read_excel('Данные/miacr.xlsx')
miacr.columns = ['Date', 'MIACR']
miacr.set_index('Date', inplace=True)
miacr = miacr.resample('M').mean()
miacr.index = miacr.index.to_period(
    'M').to_timestamp('M') - pd.offsets.MonthBegin(1)
miacr.reset_index(inplace=True)
miacr['Date'] = pd.date_range(start='2014-01-01', end='2025-04-01', freq='M')
miacr.head()

        Date     MIACR
0 2014-01-31  6.056471
1 2014-02-28  5.993500
2 2014-03-31  7.845000
3 2014-04-30  7.874545
4 2014-05-31  8.214737

In [137]:
obligates = pd.read_excel('Данные/доходность ОФЗ.xlsx')
obligates['Date'] = pd.bdate_range('2014-01-06', '2024-10-08')
obligates['obligates'].astype('float')
obligates['year'] = obligates['Date'].dt.year
obligates['month'] = obligates['Date'].dt.month
ofz = obligates.groupby(['year', 'month'], as_index=False)[
    ['obligates']].mean()
ofz['Date'] = pd.date_range('2014-01-01', '2024-11-01', freq='M')
ofz = ofz[['Date', 'obligates']]
ofz

          Date  obligates
0   2014-01-31   6.200500
1   2014-02-28   6.385500
2   2014-03-31   7.402381
3   2014-04-30   7.497727
4   2014-05-31   7.955000
..         ...        ...
125 2024-06-30  21.445000
126 2024-07-31  21.724348
127 2024-08-31  18.666364
128 2024-09-30  18.847619
129 2024-10-31  18.300000

[130 rows x 2 columns]

In [138]:
unemp = pd.read_excel('Данные/unemployment.xlsx', sheet_name='2')
unemp = pd.DataFrame(np.repeat(unemp.values, repeats=12,
                     axis=0), columns=['Date', 'unemployment'])
unemp['Date'] = pd.date_range(start='2014-01-01', end='2024-01-01', freq='M')
unemp

          Date  unemployment
0   2014-01-31      6.804222
1   2014-02-28      6.804222
2   2014-03-31      6.804222
3   2014-04-30      6.804222
4   2014-05-31      6.804222
..         ...           ...
115 2023-08-31      4.209112
116 2023-09-30      4.209112
117 2023-10-31      4.209112
118 2023-11-30      4.209112
119 2023-12-31      4.209112

[120 rows x 2 columns]

## Regional Data

In [195]:
fm_names = ['Ожидания изменение цен на готов', 'Ожидания изменение спроса на пр', 'Ожидания изменение объемов прои',
            ' Изменение спроса на продукцию', 'Изменение издержек производства', 'Изменение объемов производства']

fm_heading = ['price_exp', 'demand_exp', 'volume_exp',
              'changes_demand', 'changes_costs', 'changes_volume']

for i in range(len(fm_names)):
    df_head = f'fm_{fm_heading[i]}'
    globals()[df_head] = pd.read_excel('Данные/МП.xlsx', sheet_name=fm_names[i])
    globals()[df_head]['Date'] = pd.date_range(
        '2014-01-01', '2023-11-01', freq='M')
    date = globals()[df_head].pop('Date')
    globals()[df_head].insert(0, 'Date', date)
    globals()[df_head].drop(['date'], axis=1, inplace=True)

fm_demand_exp.head()

,Date,Российская Федерация,Белгородская область,Брянская область,Владимирская область,Воронежская область,Ивановская область,Тверская область,Калужская область,Костромская область,...,Республика Саха (Якутия),Еврейская автономная область,Забайкальский край,Республика Бурятия,Ставропольский край,Республика Ингушетия,Республика Дагестан,Кабардино-Балкарская Республика,Республика Северная Осетия-Алания,Карачаево-Черкесская Республика
0,2014-01-31,17.862892,22.435897,35.714286,19.545455,27.040816,7.766990,17.171717,7.883817,12.658228,...,24.489796,19.642857,26.279863,21.052632,22.9,4.8,4.4,29.1,44.1,31.2
1,2014-02-28,20.613185,32.000000,33.035714,17.511521,38.144330,3.414634,22.033898,8.750000,17.500000,...,35.294118,25.000000,29.692833,28.488372,21.6,0.0,7.4,31.6,39.4,48.6
2,2014-03-31,20.254344,24.342105,25.454545,22.325581,34.020619,7.281553,19.732441,10.924370,11.392405,...,37.735849,17.543860,24.232082,25.443787,21.3,4.8,5.1,27.8,41.9,24.6
3,2014-04-30,19.754329,23.333333,17.272727,14.814815,33.155080,8.292683,21.602787,8.860759,12.987013,...,34.545455,10.526316,25.597270,20.588235,30.1,10.5,8.2,31.6,33.3,33.6
4,2014-05-31,17.873089,25.675676,22.935780,11.267606,36.216216,7.843137,16.433566,9.282700,19.736842,...,37.777778,30.357143,18.771331,21.341463,27.4,16.7,6.6,26.6,7.7,44.9

In [274]:
inflation = pd.read_excel('Данные/бипц1.xls', sheet_name='1')
inflation.fillna(method='ffill')
inflation['Date'] = pd.date_range(
    start='2014-01-01', end='2025-02-01', freq='M')
date = inflation.pop('Date')
inflation.insert(0, 'Date', date)
inflation.head()

/var/folders/r7/t8m59hld1hb_kbs6vxdb07vm0000gn/T/ipykernel_20032/3364345579.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  inflation.fillna(method='ffill')

,Date,Российская Федерация,Белгородская область,Брянская область,Владимирская область,Воронежская область,Ивановская область,Калужская область,Костромская область,Курская область,...,Забайкальский край,Республика Саха (Якутия),Камчатский край,Приморский край,Хабаровский край,Амурская область,Магаданская область,Сахалинская область,Еврейская автономная область,Чукотский автономный округ
0,2014-01-31,100.39,100.56,100.44,100.42,101.06,100.71,100.37,100.06,100.66,...,100.27,100.47,100.83,100.32,100.18,100.50,100.45,100.45,100.36,100.26
1,2014-02-28,100.49,100.13,100.35,100.51,100.26,100.70,100.39,100.41,100.16,...,100.23,100.70,100.58,100.48,100.60,100.34,100.67,100.30,100.36,100.81
2,2014-03-31,100.82,100.21,100.97,101.15,100.67,100.96,101.19,100.76,100.58,...,100.88,100.40,100.56,100.67,100.66,100.64,100.08,100.44,100.68,100.97
3,2014-04-30,100.87,101.10,100.97,101.24,101.49,100.86,100.77,101.12,101.10,...,100.64,100.35,100.33,100.71,100.68,101.02,100.41,100.57,100.34,100.20
4,2014-05-31,100.85,100.66,101.66,101.41,101.00,101.06,101.26,100.62,100.91,...,100.89,100.64,101.28,100.80,100.87,100.49,101.01,100.70,100.72,100.16

In [110]:
services_volume = pd.read_excel('Данные/объем платных услуг.xls')
services_volume = services_volume[services_volume['month'].str.contains(
    '-') == 0]
services_volume['Date'] = pd.date_range(
    start='2014-01-01', end='2024-04-01', freq='M')
date = services_volume.pop('Date')
services_volume.insert(0, 'Date', date)
services_volume.drop(['year', 'month'], axis=1, inplace=True)
services_volume.head()

,Date,Российская Федерация,Центральный федеральный округ,Белгородская область,Брянская область,Владимирская область,Воронежская область,Ивановская область,Калужская область,Костромская область,...,Забайкальский край,Республика Саха (Якутия),Камчатский край,Приморский край,Хабаровский край,Амурская область,Магаданская область,Сахалинская область,Еврейская автономная область,Чукотский автономный округ
0,2014-01-31,559456677.9,189887684.7,5607051.4,3313633.9,4918551.6,8316786.9,2726885.7,3350244.7,1715787.7,...,2900394.2,4569880.1,2130349.8,9051029.2,9070106.3,2900057.9,1009444.2,3841347.8,601998.9,277402.6
1,2014-02-28,571950883.8,189422571.2,5846879.3,3453973.6,4992916.1,8340399.1,2874384.2,3438969.6,1716316.0,...,2874057.9,4579201.4,2245083.7,9979792.8,9918022.0,3214893.4,1011234.4,3662272.4,652469.6,297073.7
3,2014-03-31,591568267.2,192735322.6,5932783.1,3430976.5,5364232.1,8363452.9,2968093.1,3331969.0,1768445.0,...,3101476.3,4975118.5,2359122.1,11392508.2,10881703.0,3367412.5,1156667.9,3894286.3,682523.1,280057.0
5,2014-04-30,599205733.8,200530155.2,5881579.9,3456498.3,5491976.3,8004315.8,2949472.0,3519229.4,1852132.7,...,3218014.0,5045432.3,2418966.8,11134915.6,11592908.4,3385204.3,1120431.8,4070478.4,651122.4,285534.0
7,2014-05-31,585407816.1,193030743.0,5448840.4,3226869.5,5117365.8,8043968.4,3039744.9,3159181.9,1889272.7,...,3257319.9,4752093.7,2112640.3,12718961.6,10289523.4,3256951.1,1131419.4,3974993.7,621538.3,283519.9

In [112]:
money_income = pd.read_excel('Данные/денежные доходы.xls')
money_income['Date'] = pd.date_range(
    start='2014-01-01', end='2025-01-01', freq='Y')
date = money_income.pop('Date')
money_income.insert(0, 'Date', date)
money_income.drop(['Unnamed: 0'], axis=1, inplace=True)
money_income.head()

,Date,Российская Федерация,Центральный федеральный округ,Белгородская область,Брянская область,Владимирская область,Воронежская область,Ивановская область,Калужская область,Костромская область,...,Республика Саха (Якутия),Забайкальский край,Камчатский край,Приморский край,Хабаровский край,Амурская область,Магаданская область,Сахалинская область,Еврейская автономная область,Чукотский автономный округ
0,2014-12-31,25631.035599,33269.563141,23229.012022,18733.267010,18006.500135,21652.969237,17963.653688,21943.234346,17224.891152,...,30559.501551,19244.511788,36072.627597,23819.999628,29257.090461,23096.706587,42344.818523,38149.975045,20555.702329,56200.482562
1,2015-12-31,27333.000000,34490.871248,24723.984256,20633.971940,19451.165148,24924.356851,20162.978867,23868.034421,19520.328988,...,32993.718593,19938.079276,39836.001070,27580.498471,31262.218264,25477.657122,45172.659543,42529.979469,22057.003290,60815.423999
2,2016-12-31,30139.738614,38351.446376,28005.831699,23478.732538,22592.691343,29291.112283,22782.925893,26787.294385,22549.524650,...,36918.278790,22368.658196,43984.893012,31224.144851,35549.521713,28371.409347,51011.229996,48752.627527,24060.678034,64458.520391
3,2017-12-31,30716.978531,39591.736489,29751.331755,24056.509317,22217.435173,29192.449162,24314.239177,27970.944415,23974.272953,...,38736.654172,22518.326061,45322.358159,31454.273129,36672.668031,28135.667005,51693.916599,50535.654191,23413.077675,69211.101568
4,2018-12-31,31713.769610,41150.742273,30286.418281,25162.093646,23367.775129,29388.315026,25657.919901,27741.055321,25089.739775,...,40404.360693,23251.868529,47131.282573,32500.282671,37222.308194,29409.266734,55264.949342,51697.743178,24086.107266,74940.198493

In [113]:
trade_turnover = pd.read_excel('Данные/динамика_розничного_товарооборота.xls')
trade_turnover['Date'] = pd.date_range(
    start='2014-01-01', end='2024-01-01', freq='Y')
date = trade_turnover.pop('Date')
trade_turnover.insert(0, 'Date', date)
trade_turnover.drop(['date'], axis=1, inplace=True)
trade_turnover.head()

,Date,Российская Федерация,Центральный федеральный округ,Белгородская область,Брянская область,Владимирская область,Воронежская область,Ивановская область,Калужская область,Костромская область,...,Забайкальский край,Республика Саха (Якутия),Камчатский край,Приморский край,Хабаровский край,Амурская область,Магаданская область,Сахалинская область,Еврейская автономная область,Чукотский автономный округ
0,2014-12-31,179896,229647,163905,158805,129044,181143,140492,158634,117416,...,126491,173162,146864,148229,179045,164379,175381,253729,118450,104258
1,2015-12-31,187304,234797,177859,177431,138673,198309,146475,163262,134646,...,137581,196187,163588,177828,203714,183342,188733,277540,135444,121505
2,2016-12-31,191618,239743,192199,180148,142693,207986,147439,170240,149092,...,145048,211071,170523,184898,218868,192614,203832,282443,136162,157442
3,2017-12-31,201407,253678,202924,193201,151878,220481,158939,177321,156949,...,150497,219884,178102,196924,231910,203398,215177,296430,140822,188616
4,2018-12-31,213636,271346,216603,210496,163004,235934,169413,187353,166723,...,158520,235880,189883,214704,245471,216361,228323,311131,152497,199263

In [114]:
debt_fiz = pd.read_excel('Данные/задолженность_физ.xls')
debt_fiz = debt_fiz[debt_fiz['month'].str.contains('-') == 0]
debt_fiz['Date'] = pd.date_range(
    start='2014-01-01', end='2025-03-01', freq='M')
date = debt_fiz.pop('Date')
debt_fiz.insert(0, 'Date', date)
debt_fiz.drop(['year', 'month'], axis=1, inplace=True)
debt_fiz.head()

,Date,Российская Федерация,Центральный федеральный округ,Белгородская область,Брянская область,Владимирская область,Воронежская область,Ивановская область,Калужская область,Костромская область,...,Республика Саха (Якутия),Забайкальский край,Камчатский край,Приморский край,Хабаровский край,Амурская область,Магаданская область,Сахалинская область,Еврейская автономная область,Чукотский автономный округ
0,2014-01-31,9708233,2660789,88965,57397,79515,112934,44842,67300,30937,...,93279,80421,26510,133680,113478,66808,16443,46624,10857,3280
1,2014-02-28,9821423,2696582,90010,57938,80738,114781,45578,67965,31420,...,93824,80951,26492,134578,114440,67162,16519,46921,10915,3256
2,2014-03-31,9964305,2744765,91400,58883,81795,116661,46465,69236,31849,...,95462,81993,26854,135202,115755,68119,16894,47466,10980,3307
3,2014-04-30,10149219,2792151,92674,59929,83173,119017,47458,70719,32608,...,97565,83749,27350,136917,117465,69436,17305,48280,11162,3410
4,2014-05-31,10268231,2824875,94031,60780,83510,121252,48469,71439,33163,...,98257,84783,27943,138481,119340,70416,17595,48989,11326,3511

In [115]:
debt_firms = pd.read_excel('Данные/задолженность_юр.xls')
debt_firms = debt_firms[debt_firms['month'].str.contains('-') == 0]
debt_firms['Date'] = pd.date_range(
    start='2014-01-01', end='2025-02-01', freq='M')
date = debt_firms.pop('Date')
debt_firms.insert(0, 'Date', date)
debt_firms.drop(['year', 'month'], axis=1, inplace=True)
debt_firms.head()

,Date,Российская Федерация,Центральный федеральный округ,Белгородская область,Брянская область,Владимирская область,Воронежская область,Ивановская область,Калужская область,Костромская область,...,Дальневосточный федеральный округ,Республика Саха (Якутия),Камчатский край,Приморский край,Хабаровский край,Амурская область,Магаданская область,Сахалинская область,Еврейская автономная область,Чукотский автономный округ
0,2014-01-31,18171671,9267374,218657,63730,77908,251632,43007,96117,37643,...,489372,74425,26507,174297,124971,33840,18177,28680,3417,5058
1,2014-02-28,18184819,9224593,212615,64339,78326,253710,42773,98305,38674,...,487568,71450,27008,173282,125020,34412,18099,29875,3473,4949
2,2014-03-31,18458002,9301703,213605,64590,79716,260293,43882,101476,40358,...,485087,71941,27561,171554,125946,32272,18751,29231,3325,4506
3,2014-04-30,18790056,9489899,214755,64844,80706,262898,44225,104334,38073,...,483926,66855,27868,171392,127787,32777,19095,29859,3419,4874
4,2014-05-31,19052987,9665110,213583,65647,81658,262487,45080,104370,36366,...,493454,68887,28435,176649,128529,33062,19508,29772,3390,5222

In [116]:
salary = pd.read_excel('Данные/номинальная ЗП.xlsx')
salary['Date'] = pd.date_range(start='2014-01-01', end='2025-01-01', freq='M')
date = salary.pop('Date')
salary.insert(0, 'Date', date)
salary.head()

,Date,Российская Федерация,Центральный федеральный округ,Белгородская область,Брянская область,Владимирская область,Воронежская область,Ивановская область,Калужская область,Костромская область,...,Дальневосточный федеральный округ,Республика Саха (Якутия),Камчатский край,Приморский край,Хабаровский край,Амурская область,Магаданская область,Сахалинская область,Еврейская авт.область,Чукотский авт.округ
0,2014-01-31,29535.0,35669.6,22458.8,18884.6,20672.5,21705.1,18870.8,25796.4,19688.3,...,37259.8,44616.4,50390.2,30449.2,33216.6,29881.6,54872.2,49936.2,27897.4,71928.6
1,2014-02-28,29255.3,35821.0,21473.6,18540.4,20428.6,21200.4,18601.4,25439.0,19070.3,...,36320.2,43998.8,46043.1,29411.5,32582.9,29197.0,55059.1,49875.7,26308.2,68198.9
2,2014-03-31,31485.9,38616.4,22816.3,19821.8,21486.7,22196.8,19260.4,26519.1,19819.0,...,39414.4,48889.1,51911.9,31590.0,34300.5,30968.9,55209.1,57823.8,27711.5,72779.5
3,2014-04-30,32947.3,41048.1,23169.7,21231.8,22077.5,24080.9,19870.8,27477.8,21012.5,...,39872.8,48532.9,52350.6,32380.8,35737.0,32061.9,59339.9,52049.3,29487.6,80235.6
4,2014-05-31,32271.8,38908.9,23545.5,20837.2,22466.8,24029.4,20180.2,28284.9,20767.3,...,41388.7,53546.5,57941.3,32480.8,35825.9,32351.0,65294.7,53714.3,29926.4,79562.6

In [117]:
paid_services = pd.read_excel('Данные/объем платных услуг.xls')
paid_services = paid_services[paid_services['month'].str.contains('-') == 0]
paid_services['Date'] = pd.date_range(
    start='2014-01-01', end='2024-04-01', freq='M')
date = paid_services.pop('Date')
paid_services.insert(0, 'Date', date)
paid_services.drop(['year', 'month'], axis=1, inplace=True)
paid_services.head()

,Date,Российская Федерация,Центральный федеральный округ,Белгородская область,Брянская область,Владимирская область,Воронежская область,Ивановская область,Калужская область,Костромская область,...,Забайкальский край,Республика Саха (Якутия),Камчатский край,Приморский край,Хабаровский край,Амурская область,Магаданская область,Сахалинская область,Еврейская автономная область,Чукотский автономный округ
0,2014-01-31,559456677.9,189887684.7,5607051.4,3313633.9,4918551.6,8316786.9,2726885.7,3350244.7,1715787.7,...,2900394.2,4569880.1,2130349.8,9051029.2,9070106.3,2900057.9,1009444.2,3841347.8,601998.9,277402.6
1,2014-02-28,571950883.8,189422571.2,5846879.3,3453973.6,4992916.1,8340399.1,2874384.2,3438969.6,1716316.0,...,2874057.9,4579201.4,2245083.7,9979792.8,9918022.0,3214893.4,1011234.4,3662272.4,652469.6,297073.7
3,2014-03-31,591568267.2,192735322.6,5932783.1,3430976.5,5364232.1,8363452.9,2968093.1,3331969.0,1768445.0,...,3101476.3,4975118.5,2359122.1,11392508.2,10881703.0,3367412.5,1156667.9,3894286.3,682523.1,280057.0
5,2014-04-30,599205733.8,200530155.2,5881579.9,3456498.3,5491976.3,8004315.8,2949472.0,3519229.4,1852132.7,...,3218014.0,5045432.3,2418966.8,11134915.6,11592908.4,3385204.3,1120431.8,4070478.4,651122.4,285534.0
7,2014-05-31,585407816.1,193030743.0,5448840.4,3226869.5,5117365.8,8043968.4,3039744.9,3159181.9,1889272.7,...,3257319.9,4752093.7,2112640.3,12718961.6,10289523.4,3256951.1,1131419.4,3974993.7,621538.3,283519.9

In [280]:
regions1 = list(map(str.strip, fm_demand_exp.columns))
regions1.remove('Date')
regions1[:4]

['Российская Федерация',
 'Белгородская область',
 'Брянская область',
 'Владимирская область']

In [281]:
regions2 = list(map(str.strip, inflation.columns))
regions2.remove('Date')
regions2[:4]

['Российская Федерация',
 'Белгородская область',
 'Брянская область',
 'Владимирская область']

In [282]:
regions3 = list(map(str.strip, services_volume.columns))
regions3.remove('Date')
regions3[:4]

['Российская Федерация',
 'Центральный федеральный округ',
 'Белгородская область',
 'Брянская область']

In [283]:
regions4 = list(map(str.strip, money_income.columns))
regions4.remove('Date')
regions4[:4]

['Российская Федерация',
 'Центральный федеральный округ',
 'Белгородская область',
 'Брянская область']

In [284]:
regions5 = list(map(str.strip, debt_fiz.columns))
regions5.remove('Date')
regions5[:4]

['Российская Федерация',
 'Центральный федеральный округ',
 'Белгородская область',
 'Брянская область']

In [285]:
regions6 = list(map(str.strip, debt_firms.columns))
regions6.remove('Date')
regions6[:4]

['Российская Федерация',
 'Центральный федеральный округ',
 'Белгородская область',
 'Брянская область']

In [286]:
regions7 = list(map(str.strip, trade_turnover.columns))
regions7.remove('Date')
regions7[:4]

['Российская Федерация',
 'Центральный федеральный округ',
 'Белгородская область',
 'Брянская область']

In [287]:
regions8 = list(map(str.strip, salary.columns))
regions8.remove('Date')
regions8[:4]

['Российская Федерация',
 'Центральный федеральный округ',
 'Белгородская область',
 'Брянская область']

In [288]:
regions9 = list(map(str.strip, paid_services.columns))
regions9.remove('Date')
regions9[:4]

['Российская Федерация',
 'Центральный федеральный округ',
 'Белгородская область',
 'Брянская область']

In [298]:
diffs = set()

In [301]:
for i in range(10):
    diffs.update(set(set(regions2).difference(regions4)))
diffs

{'Архангельская область (кроме Ненецкого автономного округа)',
 'Кемеровская область - Кузбасс',
 'Ненецкий автономный округ (Архангельская область)',
 'Республика Адыгея (Адыгея)',
 'Республика Татарстан',
 'Тюменская область (кроме Ханты-Мансийского автономного округа-Югры и Ямало-Ненецкого автономного округа)',
 'Ханты-Мансийский автономный округ - Югра (Тюменская область)',
 'Чувашская Республика - Чувашия',
 'Ямало-Ненецкий автономный округ (Тюменская область)',
 'г. Москва',
 'г. Санкт-Петербург'}

In [152]:
infl_rus = inflation[['Date', 'Российская Федерация']]
infl_rus = (
    infl_rus
    .merge(brent,    how='outer', on='Date')
    .merge(miacr,    how='outer', on='Date')
    .merge(infl_exp, how='outer', on='Date')
    .merge(m2,       how='outer', on='Date')
    .merge(gosdolg,  how='outer', on='Date')
    .merge(ofz,      how='outer', on='Date')
    .merge(unemp,    how='outer', on='Date')
    # .dropna()
)
infl_rus

,Date,Российская Федерация,Brent,MIACR,Infl_exp,M2,gov_debt,obligates,unemployment
0,2014-01-31,100.39,108.12,6.056471,13.037736,31155.6,5722.239,6.200500,6.804222
1,2014-02-28,100.49,108.90,5.993500,11.795154,29861.2,5733.566,6.385500,6.804222
2,2014-03-31,100.82,107.48,7.845000,11.522133,30169.0,5754.951,7.402381,6.804222
3,2014-04-30,100.87,107.76,7.874545,12.672745,29519.3,5707.239,7.497727,6.804222
4,2014-05-31,100.85,109.54,8.214737,11.720957,29879.0,5714.967,7.955000,6.804222
...,...,...,...,...,...,...,...,...,...
130,2024-11-30,101.10,74.35,20.645714,13.941200,108947.9,23742.293,NaN,NaN
131,2024-12-31,101.02,73.86,21.140000,14.033000,111025.2,23451.384,NaN,NaN
132,2025-01-31,100.96,NaN,20.791765,13.715700,117256.4,NaN,NaN,NaN
133,2025-02-28,NaN,NaN,20.812000,NaN,116590.3,NaN,NaN,NaN
134,2025-03-31,NaN,NaN,21.206667,NaN,NaN,NaN,NaN,NaN

In [11]:
infl_rus = inflation[['Date', 'Российская Федерация']]
infl_rus = infl_rus.merge(us_rate, how='outer', on='Date').merge(miacr, how='outer', on='Date').merge(infl_exp, how='outer', on='Date')\
                   .merge(m2, how='outer', on='Date').merge(gosdolg, how='outer', on='Date').merge(brent, how='outer', on='Date').dropna()
infl_rus.to_csv('infl_rus.csv')