In [2]:
import pandas as pd
import numpy as np

In [13]:
brent = pd.read_csv('Данные/Brent.csv')
brent.columns = ['Date', 'Brent']
brent = brent[brent['Date'] >= '2014-01-15']
brent['Date'] = pd.date_range(start='2014-01-01', end='2025-01-01', freq='M')
brent.head()

          Date   Brent
320 2014-01-31  108.12
321 2014-02-28  108.90
322 2014-03-31  107.48
323 2014-04-30  107.76
324 2014-05-31  109.54

In [4]:
gosdolg = pd.read_excel('Данные/gosdolg.xls')
gosdolg['Date'] = pd.date_range(start='2014-01-01', end='2025-01-01', freq='M')
gosdolg.head()

        Date  gov_debt
0 2014-01-31  5722.239
1 2014-02-28  5733.566
2 2014-03-31  5754.951
3 2014-04-30  5707.239
4 2014-05-31  5714.967

In [5]:
infl_exp = pd.read_excel('Данные/Infl_expectation.xlsx')
infl_exp.columns = ['Date', 'Infl_exp']
infl_exp['Date'] = pd.date_range(start='2014-01-01', end='2025-02-01', freq='M')
infl_exp.head()

        Date   Infl_exp
0 2014-01-31  13.037736
1 2014-02-28  11.795154
2 2014-03-31  11.522133
3 2014-04-30  12.672745
4 2014-05-31  11.720957

In [6]:
m2 = pd.read_excel('Данные/M2.xlsx')
m2.columns = ['Date', 'M2']
m2 = m2[m2['Date'] >= '2014-01-01']
m2['Date'] = pd.date_range(start='2014-01-01', end='2025-03-01', freq='M')
m2.head()

         Date       M2
36 2014-01-31  31155.6
37 2014-02-28  29861.2
38 2014-03-31  30169.0
39 2014-04-30  29519.3
40 2014-05-31  29879.0

In [7]:
miacr = pd.read_excel('Данные/miacr.xlsx')
miacr.columns=['Date', 'MIACR']
miacr.set_index('Date', inplace=True)
miacr = miacr.resample('M').mean()
miacr.index = miacr.index.to_period('M').to_timestamp('M') - pd.offsets.MonthBegin(1)
miacr.reset_index(inplace=True)
miacr['Date'] = pd.date_range(start='2014-01-01', end='2025-04-01', freq='M')
miacr.head()

        Date     MIACR
0 2014-01-31  6.056471
1 2014-02-28  5.993500
2 2014-03-31  7.845000
3 2014-04-30  7.874545
4 2014-05-31  8.214737

In [8]:
ruonia = pd.read_excel('Данные/ruonia.xlsx')
ruonia = ruonia.iloc[:,:2]
ruonia.columns=['Date', 'RUONIA']
ruonia.set_index('Date', inplace=True)
ruonia = ruonia.resample('M').mean()
ruonia.index = ruonia.index.to_period('M').to_timestamp('M') - pd.offsets.MonthBegin(1)
ruonia.reset_index(inplace=True)
ruonia['Date'] = pd.date_range(start='2014-01-01', end='2025-04-01', freq='M')
ruonia.head()

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

        Date    RUONIA
0 2014-01-31  6.047059
1 2014-02-28  5.963500
2 2014-03-31  7.830500
3 2014-04-30  7.821364
4 2014-05-31  8.152632

In [9]:
us_rate = pd.read_excel('Данные/us_rate.xlsx')
us_rate = us_rate.iloc[:,1:3]
us_rate.columns=['Date', 'us_rate']
us_rate.set_index('Date', inplace=True)
us_rate = us_rate.resample('M').mean()
us_rate.index = us_rate.index.to_period('M').to_timestamp('M') - pd.offsets.MonthBegin(1)
us_rate.reset_index(inplace=True)
us_rate['Date'] = pd.date_range(start='2014-01-01', end='2025-04-01', freq='M')
us_rate.head()

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

        Date    us_rate
0 2014-01-31  33.784353
1 2014-02-28  35.244040
2 2014-03-31  36.198565
3 2014-04-30  35.667727
4 2014-05-31  34.833655

In [10]:
unemp = pd.read_excel('Данные/unemployment.xlsx', sheet_name='2')
unemp

   Date  unemployment
0  2014      6.804222
1  2015      7.184135
2  2016      6.978310
3  2017      6.571442
4  2018      6.146412
5  2019      6.548481
6  2020      7.812916
7  2021      6.374134
8  2022      5.234117
9  2023      4.209112

In [ ]:
# Денежные доходы - только года

In [ ]:
# Доходность ОФЗ - возможно, надо будет взять спред между 1 годом и 10 лет, надо уточнить

In [ ]:
# Номинальная ЗП

In [ ]:
# Объем розничной торговли

In [14]:
inflation = pd.read_excel('Данные/бипц1.xls', sheet_name='1')
inflation.fillna(method='ffill')
inflation['Date'] = pd.date_range(start='2014-01-01', end='2025-02-01', freq='M')
inflation.head()

/var/folders/r7/t8m59hld1hb_kbs6vxdb07vm0000gn/T/ipykernel_4790/2218351380.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  inflation.fillna(method='ffill')

,Российская Федерация,Центральный федеральный округ,Белгородская область,Брянская область,Владимирская область,Воронежская область,Ивановская область,Калужская область,Костромская область,Курская область,...,Республика Саха (Якутия),Камчатский край,Приморский край,Хабаровский край,Амурская область,Магаданская область,Сахалинская область,Еврейская автономная область,Чукотский автономный округ,Date
0,100.39,100.49,100.56,100.44,100.42,101.06,100.71,100.37,100.06,100.66,...,100.47,100.83,100.32,100.18,100.50,100.45,100.45,100.36,100.26,2014-01-31
1,100.49,100.54,100.13,100.35,100.51,100.26,100.70,100.39,100.41,100.16,...,100.70,100.58,100.48,100.60,100.34,100.67,100.30,100.36,100.81,2014-02-28
2,100.82,100.97,100.21,100.97,101.15,100.67,100.96,101.19,100.76,100.58,...,100.40,100.56,100.67,100.66,100.64,100.08,100.44,100.68,100.97,2014-03-31
3,100.87,101.04,101.10,100.97,101.24,101.49,100.86,100.77,101.12,101.10,...,100.35,100.33,100.71,100.68,101.02,100.41,100.57,100.34,100.20,2014-04-30
4,100.85,100.85,100.66,101.66,101.41,101.00,101.06,101.26,100.62,100.91,...,100.64,101.28,100.80,100.87,100.49,101.01,100.70,100.72,100.16,2014-05-31

In [15]:
infl_rus = inflation[['Date', 'Российская Федерация']]
infl_rus.columns = ['Date', 'infl_rus']
infl_rus = infl_rus.merge(us_rate, how='outer', on='Date').merge(miacr, how='outer', on='Date').merge(infl_exp, how='outer', on='Date')\
                   .merge(m2, how='outer', on='Date').merge(gosdolg, how='outer', on='Date').merge(brent, how='outer', on='Date').dropna()
infl_rus.to_csv('infl_rus.csv')

In [16]:
infl_rus

,Date,infl_rus,us_rate,MIACR,Infl_exp,M2,gov_debt,Brent
0,2014-01-31,100.39,33.784353,6.056471,13.037736,31155.6,5722.239,108.12
1,2014-02-28,100.49,35.244040,5.993500,11.795154,29861.2,5733.566,108.90
2,2014-03-31,100.82,36.198565,7.845000,11.522133,30169.0,5754.951,107.48
3,2014-04-30,100.87,35.667727,7.874545,12.672745,29519.3,5707.239,107.76
4,2014-05-31,100.85,34.833655,8.214737,11.720957,29879.0,5714.967,109.54
...,...,...,...,...,...,...,...,...
127,2024-08-31,100.60,89.160161,17.760909,12.520500,104351.3,21760.809,80.36
128,2024-09-30,100.75,91.234505,18.460000,13.412700,106242.7,21537.407,74.02
129,2024-10-31,100.81,96.160226,18.925217,13.366700,107629.5,21688.947,75.63
130,2024-11-30,101.10,100.687450,20.645714,13.941200,108947.9,23742.293,74.35
131,2024-12-31,101.02,102.259648,21.140000,14.033000,111025.2,23451.384,73.86