In [1]:
import pandas as pd
import numpy as np

In [2]:
brent = pd.read_csv('Данные/Brent.csv')
brent = brent[brent['Date'] >= '2014-01-15']
brent['Date'] = pd.date_range(start='2014-01-01', end='2025-01-01', freq='M')
brent.head()

          Date   Price
320 2014-01-31  108.12
321 2014-02-28  108.90
322 2014-03-31  107.48
323 2014-04-30  107.76
324 2014-05-31  109.54

In [3]:
gosdolg = pd.read_excel('Данные/gosdolg.xls')
gosdolg['Date'] = pd.date_range(start='2014-01-01', end='2025-01-01', freq='M')
gosdolg.head()

        Date  gov_debt
0 2014-01-31  5722.239
1 2014-02-28  5733.566
2 2014-03-31  5754.951
3 2014-04-30  5707.239
4 2014-05-31  5714.967

In [4]:
infl_exp = pd.read_excel('Данные/Infl_expectation.xlsx')
infl_exp.columns = ['Date', 'Infl_exp']
infl_exp['Date'] = pd.date_range(start='2014-01-01', end='2025-02-01', freq='M')
infl_exp.head()

        Date   Infl_exp
0 2014-01-31  13.037736
1 2014-02-28  11.795154
2 2014-03-31  11.522133
3 2014-04-30  12.672745
4 2014-05-31  11.720957

In [5]:
m2 = pd.read_excel('Данные/M2.xlsx')
m2.columns = ['Date', 'M2']
m2 = m2[m2['Date'] >= '2014-01-01']
m2['Date'] = pd.date_range(start='2014-01-01', end='2025-03-01', freq='M')
m2.head()

         Date       M2
36 2014-01-31  31155.6
37 2014-02-28  29861.2
38 2014-03-31  30169.0
39 2014-04-30  29519.3
40 2014-05-31  29879.0

In [6]:
miacr = pd.read_excel('Данные/miacr.xlsx')
miacr.columns=['Date', 'MIACR']
miacr.set_index('Date', inplace=True)
miacr = miacr.resample('M').mean()
miacr.index = miacr.index.to_period('M').to_timestamp('M') - pd.offsets.MonthBegin(1)
miacr.reset_index(inplace=True)
miacr['Date'] = pd.date_range(start='2014-01-01', end='2025-04-01', freq='M')
miacr.head()

        Date     MIACR
0 2014-01-31  6.056471
1 2014-02-28  5.993500
2 2014-03-31  7.845000
3 2014-04-30  7.874545
4 2014-05-31  8.214737

In [9]:
unemp = pd.read_excel('Данные/unemployment.xlsx', sheet_name='2')
unemp

   Date  unemployment
0  2014      6.804222
1  2015      7.184135
2  2016      6.978310
3  2017      6.571442
4  2018      6.146412
5  2019      6.548481
6  2020      7.812916
7  2021      6.374134
8  2022      5.234117
9  2023      4.209112

In [10]:
inflation = pd.read_excel('Данные/бипц1.xls', sheet_name='1')
inflation.fillna(method='ffill')
inflation['Date'] = pd.date_range(start='2014-01-01', end='2025-02-01', freq='M')
inflation.head()

/var/folders/r7/t8m59hld1hb_kbs6vxdb07vm0000gn/T/ipykernel_15155/2218351380.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  inflation.fillna(method='ffill')

,Российская Федерация,Центральный федеральный округ,Белгородская область,Брянская область,Владимирская область,Воронежская область,Ивановская область,Калужская область,Костромская область,Курская область,...,Республика Саха (Якутия),Камчатский край,Приморский край,Хабаровский край,Амурская область,Магаданская область,Сахалинская область,Еврейская автономная область,Чукотский автономный округ,Date
0,100.39,100.49,100.56,100.44,100.42,101.06,100.71,100.37,100.06,100.66,...,100.47,100.83,100.32,100.18,100.50,100.45,100.45,100.36,100.26,2014-01-31
1,100.49,100.54,100.13,100.35,100.51,100.26,100.70,100.39,100.41,100.16,...,100.70,100.58,100.48,100.60,100.34,100.67,100.30,100.36,100.81,2014-02-28
2,100.82,100.97,100.21,100.97,101.15,100.67,100.96,101.19,100.76,100.58,...,100.40,100.56,100.67,100.66,100.64,100.08,100.44,100.68,100.97,2014-03-31
3,100.87,101.04,101.10,100.97,101.24,101.49,100.86,100.77,101.12,101.10,...,100.35,100.33,100.71,100.68,101.02,100.41,100.57,100.34,100.20,2014-04-30
4,100.85,100.85,100.66,101.66,101.41,101.00,101.06,101.26,100.62,100.91,...,100.64,101.28,100.80,100.87,100.49,101.01,100.70,100.72,100.16,2014-05-31

In [48]:
services_volume = pd.read_excel('Данные/объем платных услуг.xls')
services_volume = services_volume[services_volume['month'].str.contains('-') == 0]
services_volume['Date'] = pd.date_range(start='2014-01-01', end='2024-04-01', freq='M')
date = services_volume.pop('Date')
services_volume.insert(0, 'Date', date)
services_volume.drop(['year', 'month'], axis=1, inplace=True)
services_volume

,Date,Российская Федерация,Центральный федеральный округ,Белгородская область,Брянская область,Владимирская область,Воронежская область,Ивановская область,Калужская область,Костромская область,...,Забайкальский край,Республика Саха (Якутия),Камчатский край,Приморский край,Хабаровский край,Амурская область,Магаданская область,Сахалинская область,Еврейская автономная область,Чукотский автономный округ
0,2014-01-31,5.594567e+08,189887684.7,5607051.4,3313633.9,4918551.6,8316786.9,2726885.7,3350244.7,1715787.7,...,2900394.2,4569880.1,2130349.8,9051029.2,9070106.3,2900057.9,1009444.2,3841347.8,601998.9,277402.6
1,2014-02-28,5.719509e+08,189422571.2,5846879.3,3453973.6,4992916.1,8340399.1,2874384.2,3438969.6,1716316.0,...,2874057.9,4579201.4,2245083.7,9979792.8,9918022.0,3214893.4,1011234.4,3662272.4,652469.6,297073.7
3,2014-03-31,5.915683e+08,192735322.6,5932783.1,3430976.5,5364232.1,8363452.9,2968093.1,3331969.0,1768445.0,...,3101476.3,4975118.5,2359122.1,11392508.2,10881703.0,3367412.5,1156667.9,3894286.3,682523.1,280057.0
5,2014-04-30,5.992057e+08,200530155.2,5881579.9,3456498.3,5491976.3,8004315.8,2949472.0,3519229.4,1852132.7,...,3218014.0,5045432.3,2418966.8,11134915.6,11592908.4,3385204.3,1120431.8,4070478.4,651122.4,285534.0
7,2014-05-31,5.854078e+08,193030743.0,5448840.4,3226869.5,5117365.8,8043968.4,3039744.9,3159181.9,1889272.7,...,3257319.9,4752093.7,2112640.3,12718961.6,10289523.4,3256951.1,1131419.4,3974993.7,621538.3,283519.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,2023-11-30,1.475504e+09,559961799.3,10062683.9,6518041.2,8058898.0,14573675.4,5776800.3,6679730.2,3129886.0,...,2949934.0,20386962.6,13157388.7,5499514.8,1404830.5,4732039.7,986668.5,406662.5,406662.5,406662.5
227,2023-12-31,1.489610e+09,563717243.4,10618897.2,6950382.9,8601837.8,14369753.7,5936059.3,6859329.9,3243698.2,...,2936463.6,21003648.2,14135752.7,5644579.9,1510502.1,4690052.5,1020114.8,426246.8,426246.8,426246.8
229,2024-01-31,1.489199e+09,555185157.8,11497160.7,7333366.4,8996894.2,14809391.8,6033106.5,7190274.0,3483247.0,...,3057843.3,21038610.0,14278251.4,5700931.9,1495927.2,4867457.4,1101344.3,428399.0,428399.0,428399.0
231,2024-02-29,1.585644e+09,589312218.6,12719245.2,7476384.8,10132555.9,16197658.8,6810723.7,7773120.0,3798178.9,...,3384337.4,24177720.7,15120687.9,6027367.8,1567277.8,5437941.6,1201220.4,473159.4,473159.4,473159.4
233,2024-03-31,1.507681e+09,555572864.7,12558244.6,7449477.6,9912994.5,16063175.1,5830056.8,7813413.0,3835560.0,...,3200324.0,22901419.7,14875103.5,5797231.0,1390325.8,5149956.1,1202988.4,428777.0,428777.0,428777.0

In [11]:
infl_rus = inflation[['Date', 'Российская Федерация']]
infl_rus = infl_rus.merge(us_rate, how='outer', on='Date').merge(miacr, how='outer', on='Date').merge(infl_exp, how='outer', on='Date')\
                   .merge(m2, how='outer', on='Date').merge(gosdolg, how='outer', on='Date').merge(brent, how='outer', on='Date').dropna()
infl_rus.to_csv('infl_rus.csv')

In [29]:
fm_names = ['Ожидания изменение цен на готов', 'Ожидания изменение спроса на пр', 'Ожидания изменение объемов прои',
         ' Изменение спроса на продукцию', 'Изменение издержек производства', 'Изменение объемов производства']

fm_heading = ['price_exp', 'demand_exp', 'volume_exp', 'changes_demand', 'changes_costs', 'changes_volume']

for i in range(len(fm_names)):
    df_head = f'fm_{fm_heading[i]}'
    globals()[df_head] = pd.read_excel('Данные/МП.xls', sheet_name=fm_names[i])
    globals()[df_head]['date'] = pd.date_range('2014-01-01', '2023-11-01', freq='M')

fm_demand_exp.head()

,date,Российская Федерация,Центральный федеральный округ,Белгородская область,Брянская область,Владимирская область,Воронежская область,Ивановская область,Тверская область,Калужская область,...,Республика Северная Осетия-Алания,Карачаево-Черкесская Республика,Чеченская Республика,ГУ по ЦФО,СЗГУ,СГУ,ДГУ,ЮГУ,ВВГУ,УГУ
0,2014-01-31,17.862892,17.724359,22.435897,35.714286,19.545455,27.040816,7.766990,17.171717,7.883817,...,44.1,31.2,NaN,17.724359,19.6,16.3,15.379310,17.302053,19.437448,20.315236
1,2014-02-28,20.613185,20.865633,32.000000,33.035714,17.511521,38.144330,3.414634,22.033898,8.750000,...,39.4,48.6,NaN,20.865633,18.0,20.3,18.181818,23.642646,21.459044,20.735524
2,2014-03-31,20.254344,20.400905,24.342105,25.454545,22.325581,34.020619,7.281553,19.732441,10.924370,...,41.9,24.6,NaN,20.400905,18.6,20.2,17.755102,22.566372,20.100925,21.811024
3,2014-04-30,19.754329,20.476035,23.333333,17.272727,14.814815,33.155080,8.292683,21.602787,8.860759,...,33.3,33.6,NaN,20.476035,15.6,19.2,16.494845,25.820896,19.747368,19.249201
4,2014-05-31,17.873089,18.476128,25.675676,22.935780,11.267606,36.216216,7.843137,16.433566,9.282700,...,7.7,44.9,NaN,18.476128,11.5,17.6,17.943409,23.369286,18.136020,16.800000